.lom{
    display: flex;
    justify-content: space-between;
margin-top: 10px;
}





    .serch>input{

       font-size: medium;
       border:none ;
       outline: none;
       width: 600px;
       margin-left: 18px;
       margin-top: 7px;
          height: 20px;
    }
    .serch{
        display: flex;
    
        justify-content: space-between;
        border-radius: 60px;
        border: 2px solid black;
        height: 40px;
        width: 750px;
    }
      .lmk{
        
        background-color: rgb(255, 136, 0);
        border-radius: 100px;
        margin-right: 5px;
        border: none;
       
        
    }
    .lmk:hover{
        border-radius: 0px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        margin-right: 1px;
    }
    .lmk:active{
        border-radius: 0px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        margin-right: 1px;
    }
   
      
    .vcf{
        text-align: center;
        justify-content: center;
        display: flex;
        margin-top: 5px;
       margin-right: 20x;
       padding-right: 30px;
       padding-right: 5px;
       padding-left: 5px;
       transition: 1s;
       border: 2px solid white;
        border-radius: 50px;
        width: 100px;
    padding-top: 10px;
    height: 30px;}
    .vcf>a{
        text-decoration: none;
        font-size: medium;
        color: black;
      
       
       
       
        text-decoration: none;
        color: black;
        
    }
    .vcf:hover{
        transform: scale(1);
    background-color: aqua;
    }
    .vcg{
        margin-left: 28px;
        margin-top: 8px;
        margin-right: 20px;
    }
    .pol{
        display: flex;
        margin-right: 20px;
        margin-top: 10px;
        justify-content: center;
        text-decoration: none;
        color: black;
        right: 150px;
        border: 1px solid white;
        height: 20px;
        width: 70px;
        border-radius: 10px;
        padding-left: 5px;
        
        transition: 1s;
        margin-right: 30px;
    }
.pol:hover{
    border: 0px solid white;
    background-color: aqua;
    transform: scale(1.);
        }
    
    .vcn{
        display: flex;
        margin-right: 20px;
        padding-right: 10px;
        
        border: 2px solid white;
        height: 35px;
        border-radius: 100px;
        justify-content: center;
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        width: 25px;
        transition: 1s;
        
    }
    .vcp{
        margin-right: 20px;
        padding-right: 10px;
        display: flex;
        margin-right: 20px;
        padding-right: 10px;
         border: 2px solid white;
        height: 35px;
        border-radius: 100px;
        justify-content: center;
        text-align: center;
        padding-left: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 8px;
        width: 30px;
        transition: 1s;
    }
.vcp:hover,.vcn:hover
    {
        background-color: aqua;
        transform: scale(1);
    }
.ioi{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    text-decoration: none;
    flex-wrap: wrap;
}
.ioi>a{
    text-decoration: none;
    color: black;
}
.qwe{
    border: 2px solid white;
    width: 250px;
    border-radius: 50px;
    padding-left: 20px;
    height: 30px;
    padding-top: 10px;
    transition: 1s;
  
}
.qwe:hover{
    background-color: aqua;
    transform: scale(1);
}
.ert{
    border: 2px solid white;
    width: 130px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 50px;
    transition: 1s;
}
.ert:hover{
    transform: scale(1);
    background-color: aqua;
}
.yui{
    border: 2px solid white;
    width: 140px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 50px;
    transition: 1s;
}
.yui:hover{
    transform: scale(1);
    background-color: aqua;
}
.opa{
    border: 2px solid white;
    width: 110px;
    padding-left: 30px;
    padding-top: 10px;
    border-radius: 50px;
    transition: 1s;

}
.opa:hover{
    background-color: aqua;
    transform: scale(1);
}
.dfg{
    border: 2px solid white;
    width: 90px;
    padding-left: 30px;
    padding-top: 10px;
    border-radius: 50px;
    transition: 1s;
}
.dfg:hover{
    background-color: aqua;
    transform: scale(1);
}
.uuu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.ttt>img{
    border: 2px solid black;
    width: 100px;
    height: 100px;
   border-radius: 100px;
   
}
.ttt{
    display: flex;
    flex-direction: column;
}
.ttt>a{
    padding-left: 20px;
    text-decoration: none;
    font-size: larger;
    padding-top: 20px;
    color: black;
}
.mnb{
    padding-left:90px ;
}
.lbm{
    display: flex;
    height: 180px;
    width: 130px;
    border-bottom: 1px white solid;
    
    justify-content: center;
    align-items: center;
    transition: 1s;
    
    padding-left: 20px;
}
.lbm:hover{
    
    border-bottom: 2px black solid;
    transform: scale(1.2);
     cursor: pointer;
}
.mlp{
    font-size: xx-large;
    
}
.jkl{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: wrap;

}
.poi{
    border: 1px solid white;
    height: 280px;
    width: 180px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    box-shadow: black;
    transition: 1ms;
}
.poi>img{
    border-radius: 20px;
    margin-top: 10px;
}
.poi:hover{
    border: 1px solid black;
    transform: scale(1);
    box-shadow: 2px 2px 8px;
}
.poi>a{
    text-decoration: none;
    font-size: medium;
    color: black;
}
.vbn{
    margin-top: 40px;
    border: 1px solid white;
    outline: none;
    height: 40px;
    width: 150px;
    border-radius: 60px;
}
.puo{
    font-size: xx-large;
    font-weight: bold;


}
.jkl{
    display: flex;
    flex-wrap: wrap;

}
.jjj{
    border: 2px solid white;
    width: 200px;
    height: 300px;
    justify-content: center;
    border-radius: 20px;
}
.jjj>img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pll{
    font-size: xx-large;
    font-weight: bolder;

}
.aws{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: wrap;

}
.awe{
    border: 1px solid white;
    height: 250px;
    width: 200px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    box-shadow: black;
    transition: 1ms;
}
.awe>img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.awe:hover{
    border: 1px solid black;
    transform: scale(1);
    box-shadow: 2px 2px 8px;
}
.awe>a{
    text-decoration: none;
    font-size: medium;
    color: black;
    font-size: larger;
font-weight: bolder;}


.cno{
    border: 0px solid black;
    height: 650px;
    background-color: bisque;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}
.pik{
    
    justify-content: center;
    text-align: center;
    border: 0px solid;
    height: 150px;
}
.pik>h1{
    font-size: 40px;

}
.pik>a{
    color: black;
}
.hop{
    display: flex;
}
.oop{
    padding: 10px,10px;
    border: 0px solid black;
    height: 300px;
    width: 50%;
    text-align: center;
    justify-content: center;
    
    
}

.oop>h1{
    display: flex;
    justify-content: center;

}
.oop>span{
   font-size: large;
   margin-top: 10px;


}
.sdd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 150px;
}
.poj{
    margin-left: 40%;
    justify-content: center;
    display: flex;
    border: 1px solid black;
    height: 40px;
    width: 200px;
    border-radius: 60px;
    transition: 1s;

}
.poj:hover{
    transform: scale(1.1);
    background-color: mediumseagreen;

}
.poj>button{
    outline: none;
    border: none;
    background-color: bisque;
   
}
.oik{
     display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   padding-top: 10px;
    background-color: #A2C5F4;
    height: 100px;
    


}
.trl{
   display: flex;
   justify-content: center;
   text-align: center;
   border: 0px solid black;
   height: 60px;
    width: 100%;
    padding-top: 8px;
}
.yte{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: px;
    margin-top: 5px;
    border: 2px solid black;
    height: 35px;
    border-radius: 60px;
    width: 30%;
}
.yte>button{
    border: none;
    height: 35px;
    border-top-right-radius: 60px;
    border-bottom-right-radius:60px ;
   background-color: white;
    width: 30%;
    
}
.yte>input{
    border: none;
    border-top-left-radius: 60px;
    border-bottom-left-radius:60px ;
    width: 70%;
   

}
.yte>button:hover{
    background-color: black;
    -webkit-text-fill-color: aqua;
}

svg{
    width: 30px;
    fill: white;
}


.btm{
    background-color: #7E75DB;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 60px;
}
.btm>span{
    color: white;
    margin-top: 20px;
}

.tuo{
    display: flex;
    
    width: 100%;
    height: 350px;

}


.hnr{
   
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  text-align: center;
background-color: #122868;

}
.mnr{
    
    width: 60%;
    background-color: #614DB1;
    display: flex;
    flex-direction: row;
}
.iob{
    
    display: flex;
    text-align: center;
    justify-content: center;
    
    width: 110px;
    height: 110px;
    border-radius: 10px;
    margin-left:195px ;
    margin-bottom: 15px;
    background-color: red;
}
.iob>h1{
    color: white;
    font-size: 40px;
}
.byu>button{
    border: 0px;
    height: 40px;
    width: 200px;
    border-radius: 60px ;
    background-color: blueviolet;
    color: aqua;
}
.byu>button:hover{
    box-shadow: 2px 2px 4px black;
    transform: scale(1);
}

.dropbtn {
    background-color:#614DB1 ;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px;
    display: flex;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
   
    position: absolute;
    background-color: #614DB1;
    min-width: 160px;
   
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover{
    text-decoration: underline;
  }
  
  
  
.rrr{
    width: 30%;
    height: 100%;
    border: 0px solid black;
}
footer{
    border: 2px solid rgb(39, 39, 39);
    width: 100%;
    height: 70px;
    background-color: rgb(29, 28, 28);
    
}
.vvv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: ;
}
.mjk{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.mjk>span{
    color: white;
}
.mjk>a{
    padding-left: 10px;
    text-decoration: none;
    color: white;
    
}
.upi{
    display: flex;
    justify-content: center;
    border: 0px solid white;
    margin-top: 15px;
    height: 30px;
    margin-left: 20px;
    border-radius: 60px;
    width: 300px;
    text-align: center;
    padding-top: 5px;
    color: white;
transition: 1s;

}
.upi:hover{
    transform: scale(1);
    cursor: pointer;
    
    background-color: rgba(255, 255, 255, 0.281);

}


@media(max-width:450px)
{
    .serch{
        width: 90%;
        position: absolute;
        top: 60px;
    }
    .serch>input{
        width: 90%;
    }
    .vcf{
        display: none;

    }
    .ioi{
        display: none;
    }
    .uol{
        display: none;
    }
    .por{
        margin-top: 100px;

    }
    .jkl{
        flex-direction: column;

       
    }
    .poi{
        border: 2px solid black;
        width: 90%;
        height: 50px;
        border-radius: 10px;
        margin-top: 10px;
      
       
      

    }
    .poi>img{
       width: 50px;
       height: 50px;
       border-radius: 0px;
       position: absolute;
    
       border-bottom-left-radius: 10px;
       border-top-left-radius: 10px;
        

    }
    .llk{
        left: 10px;
        top: 897px;
   
    }
    .qsrt{
        left: 10px;
        top: 961px;
        
    }
    .sdw{

        left: 10px;
        top: 1025px;

    }
    .wed{
        
        left: 10px;
        top: 1089px;
    }
    .wsq{
        left: 10px;
        top: 1153px;
    }
    .qsw{
        left: 10px;
        top: 1218px;
    }
    .bnv{
        left: 10px;
        top: 1321px;
    }
    .bvn{ left: 10px;
        top: 1385px;

    }
    .bkl{ left: 10px;
        top: 1450px;

    }
    .lhb{ left: 10px;
        top: 1512px;

    }
    .vot{ left: 10px;
        top: 1577px;

    }
    .lul{ left: 10px;
        top: 1641px;

    }
    .cno{
        display: none;
        flex-direction: column;
    }
     .last{
    display: none;
    }

}
@media(max-width:999px)
{
    
    .serch{
        width: 90%;
        position: absolute;
        top: 60px;
    }
    .serch>input{
        width: 90%;
    }
    .vcf{
        display: none;

    }
    .ioi{
        display: none;
    }
    .uol{
        display: none;
    }
    .por{
        margin-top: 100px;

    }
    .jkl{
        flex-direction: column;
}
.last{
    display: none;
    }
}
@media (max-width:364px){
    .llk{
    display:none
        
   
    }
    .qsrt{
    display:none
        
        
    }
    .sdw{display:none
        
    }
    .wed{
    display:none
        
        
    }
    .wsq{
    display:none
        
    }
    .qsw{
    display:none
        
    }
    .bnv{
    display:none
        
    }
    .bvn{ 
        display:none

    }
    .bkl{ 
        display: none;
    }
    .lhb{ 
    display:none

    }
    .vot{ 
        display: none;

    }
    .lul{ 
        
    display: none;
}
}